.not-found{
  text-align: center;

  h1{
    font-size: 10rem;
  }

  .preview{
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}